@font-face {
  font-family: "OSTRICH-REGULAR";
  src: url("./ostrich-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "OSTRICH-REGULAR";
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 0 20px;
}

.task-input {
  margin-bottom: 20px;

  input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 100px;
  }

  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for background-color and transform */

    &:hover {
      background-color: #0056b3;
    }

    &:active {
      transform: scale(0.95); /* Added scale transform on button click */
    }
  }
}

.filter {
  margin-bottom: 20px;

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background-color: #007bff;
      color: #fff;
    }

    &:hover:not(.active) {
      background-color: #f0f0f0;
    }
    & + button {
      margin-left: 1px;
    }
  }
}

.task-list {
  .task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    input[type="checkbox"] {
      margin-right: 10px;
    }

    .completed {
      text-decoration: line-through;
    }

    button {
      margin-left: 10px;
      padding: 5px 10px;
      background-color: #dc3545;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}
